body {
    text-align: center;
}

body.darkmode {
    color: #FFF;
    background-color: #000
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#difficulty {
    width: 100px;
    display: inline-block;
}

#container {
    width: 100%;
    font-family: cursive;
}

.row {
    width: 100%;
    display: flex;
    flex: flex-column;
}

button {
    margin: 50px;
    display: inline;
    font-size: 40px;
}

h1 {
    font-size: 48px;
}

.card {
    text-align: center;
    border: 1px solid black;
    height: 100px;
    line-height: 100px;
    width: 100%;
    margin: 5px;
    font-size: 40px;
    cursor: pointer;
}

.card.darkmode {
    border: 1px solid white;
}

.selected.darkmode {
    border: 5px solid white;
}

.selected {
    border: 5px solid black;
    margin: 1px;
}


#foundSets, #allShapes {
    font-family: cursive;
}
