body {
    text-align: center;
}

#difficulty {
    width: 100px;
    display: inline-block;
}

#container {
    width: 100%;
    font-family: cursive;
}

.row {
    width: 100%;
    display: flex;
    flex: flex-column;
}

button {
    margin: 50px;
    display: inline;
    font-size: 40px;
}

h1 {
    font-size: 48px;
}

.card {
    text-align: center;
    border: 1px solid black;
    height: 100px;
    line-height: 100px;
    width: 100%;
    margin: 5px;
    font-size: 40px;
    cursor: pointer;
}

.selected {
    border: 5px solid black;
    margin: 1px;
}

#foundSets {
    font-family: cursive;
}
